/*YOUR CUSTOM STYLES*/

.bg-holder { 
    background-image: url("/assets/theme/img/background.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;


}   


.passenger-box { margin: 0px 30px;}
.pre-loader {
    padding: 50px;
    background: url("/assets/theme/img/Preloader.gif") no-repeat 50% 50% transparent;
}