





<div class="container">
    <h1 class="page-title">About Us</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="text-bigger">
                Travel and vacation, a refreshing idea, a breather in an otherwise mundane life and opportunity to do some soul searching…this is what it seems to a romantic, a spotless and speckles idea on paper, however it often turns out to be a distant dream and what you actually end up searching for are the ways to accomplish that travel.
            </p>


            <p class="text-bigger">
                It can be a mind-numbing and rambling process, wherein you explore various ways of reaching your destination. Planning the best route, ﬁnding a cheap bus, or the right train, or the most suited airline can leave journeymen frustrated and a little lighter on their pocket.
            </p>
            <p class="text-bigger">
                To address these issues is precisely what we are trying to do at Travally, wherein we strive to be your best ally when it comes to planning your next trip.
            </p>
            <p class="text-bigger">
                Travally is a multi-mode travel platform which gives you the convenience of comparing at one place the various travel options available to reach to a place. We provide for the identification and procurement of transportation, accommodation and related services, i.e. tickets for flights, train rides, bus tours and car rentals, hotel bookings, etc. In addition, we offer direct booking through our website for selected travel operators and/or offerings.
            </p>
            <p class="text-bigger">
                All You need to do now is explore the options on Travally; compare bus, train, flight and rental car services based on your convenience (time-wise and cost-wise); get the service booked through our website and Voila! you are ready to go.
            </p>
        </div>
    </div>
    <div class="container">
        <h1 class="page-title">Enjoy the trip!!!</h1>
    </div>
    <div class="gap"></div>
</div>
<div class="bg-holder">
    <div class="bg-parallax" style="background-image:url(img/people_on_the_beach_1280x852.jpg);"></div>
    <div class="bg-mask"></div>
    <div class="bg-holder-content">
        <div class="container">
            <div class="gap gap-big text-white">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Work hard. Play hard.</h2>
                        <p class="text-bigger">Suspendisse quam hac elementum parturient cubilia porttitor odio sem habitant in cras phasellus sit metus vestibulum condimentum nam platea sociosqu justo ac vulputate vivamus luctus cubilia adipiscing commodo nulla lacinia taciti justo platea sociosqu consequat pellentesque aenean sociosqu tempus aliquet maecenas integer purus etiam integer volutpat scelerisque netus nulla neque orci porta maecenas odio hendrerit senectus sociosqu convallis nam pharetra</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="gap"></div>
    <h2>Our Approach</h2>
    <div class="row">
        <div class="col-md-8">
            <p class="text-bigger">Nibh duis neque metus elementum aliquet ut egestas orci elit pellentesque pulvinar in nam class mollis netus dolor augue nec senectus torquent velit fusce dictumst sodales nec rutrum et ridiculus etiam id dictum turpis ullamcorper condimentum malesuada venenatis semper justo feugiat curabitur sociis facilisi enim dolor faucibus dolor hendrerit feugiat</p>
        </div>
    </div>
</div>