<div class="gap"></div>
<div ng-hide="loading" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="fleft width_100">

                <div style="color:Red;"> Seat(s) : {{TBSelectedSeats}}<!--<label>Seat(s)</label>:<span class="seatsSelected"><label id="selectedSeats"></label></span>--></div>
                <div style="color:Red;">Amount : {{TBSelectedSeatsPrice}}<!--<label>Amount</label>:<span class="seatsSelected"><label id="totalAmount"></label></span>--></div>

            </div>


            <p ng-hide="isAuthenticated()">Sign in to your <a href="">Travally account</a> for fast booking.</p>
            <div class="gap gap-small"></div>
            <h3>Passengers</h3>
            <ul class="list booking-item-passengers">
                <li>
                    <form name="pax" ng-submit="busBook()" novalidate>
                        <div class="row">

                            <div class="col-md-3">
                                    <label>Title</label>
                                    <div class="form-group">
                                        <input class="form-control" ng-model="passenger.Title" type="text" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" ng-model="book.PaxDetail.FirstName" name="fname" type="text" required />
                                        <span ng-show="pax.fname.$invalid&&submitted" class="text-danger">First Name Required</span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input class="form-control" ng-model="book.PaxDetail.LastName" name="lname" type="text" required />
                                        <span ng-show="pax.lname.$invalid&&submitted" class="text-danger">Last Name Required</span>
                                    </div>
                                </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Age</label>
                                    <input class="form-control" ng-model="book.PaxDetail.Age" name="age" type="number" required />
                                    <span ng-show="pax.age.$invalid&&submitted" class="text-danger">Age Required</span>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" ng-model="book.PaxDetail.EMail" name="email" type="email" required />
                                    <span ng-show="pax.email.$invalid&&submitted" class="text-danger">Email Required</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mobile No.</label>
                                    <input class="form-control" ng-model="book.PaxDetail.PhoneNo" name="mobile" type="text" required />
                                    <span ng-show="pax.mobile.$invalid&&submitted" class="text-danger">Mobile Number Required</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" ng-model="book.PaxDetail.Address" name="address" type="text" required />
                                    <span ng-show="pax.address.$invalid&&submitted" class="text-danger">Address Required</span>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <input class="form-control" ng-model="book.PaxDetail.Gender" name="gender" value="Male" type="radio" required/>Male<br/>
                                    <input class="form-control" ng-model="book.PaxDetail.Gender" name="gender" value="Female" type="radio" required/>Female
                                    <span ng-show="pax.gender.$invalid&&submitted" class="text-danger">Address Required</span>
                                </div>
                            </div>


                        </div>
                        <input class="btn btn-primary" type="submit" value="Proceed Payment" /><br/><br/>
                    </form>
                </li>
            </ul>

            <div class="gap gap-small"></div>
            <div class="row">
            </div>

        </div>

    </div>
</div>
<div class="gap"></div>
</div>




<div ng-show="loading">

    <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
    </div>

</div>

