<div class='outerseat'>
    <div class='busSeatlft'>
        <div class='upper'></div>
    </div>
    <div class='busSeatrgt'>
        <div class='busSeat'>
            <div class='seatcontainer clearfix'>
                <div id=\"10000701666040900622B\" style=\"top:0px;left:0px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'22B',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900623B\" style=\"top:0px;left:45px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'23B',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900626B\" style=\"top:0px;left:90px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'26B',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900627B\" style=\"top:0px;left:135px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'27B',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900630B\" style=\"top:0px;left:180px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'30B',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900622A\" style=\"top:30px;left:0px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'22A',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900623A\" style=\"top:30px;left:45px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'23A',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900626A\" style=\"top:30px;left:90px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'26A',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900627A\" style=\"top:30px;left:135px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'27A',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900630A\" style=\"top:30px;left:180px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'30A',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900631A\" style=\"top:30px;left:225px;display:block;\" class=\"vseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'31A',TBSelectedSeatsPrice.value,'450.00')\"></div>
                <div id=\"10000701666040900631B\" style=\"top:30px;left:250px;display:block;\" class=\"vseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'31B',TBSelectedSeatsPrice.value,'450.00')\"></div>
                <div id=\"10000701666040900621A\" style=\"top:100px;left:0px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'21A',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900624A\" style=\"top:100px;left:45px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'24A',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900625A\" style=\"top:100px;left:90px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'25A',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900628A\" style=\"top:100px;left:135px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'28A',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900629A\" style=\"top:100px;left:180px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'29A',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900621B\" style=\"top:130px;left:0px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'21B',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900624B\" style=\"top:130px;left:45px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'24B',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900625B\" style=\"top:130px;left:90px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'25B',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900628B\" style=\"top:130px;left:135px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'28B',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900629B\" style=\"top:130px;left:180px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'29B',TBSelectedSeatsPrice.value,'550.00')\"></div>
            </div>
        </div>
    </div>
    <div class='clr'></div>
</div>
<div class='outerlowerseat'>
    <div class='busSeatlft'>
        <div class='lower'></div>
    </div>
    <div class='busSeatrgt'>
        <div class='busSeat'>
            <div class='seatcontainer clearfix'>
                <div id=\"1000070166604090062\" style=\"top:0px;left:0px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'2',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"1000070166604090068\" style=\"top:0px;left:45px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'8',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900610\" style=\"top:0px;left:90px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'10',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900616\" style=\"top:0px;left:135px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'16',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900618\" style=\"top:0px;left:180px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'18',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"1000070166604090061\" style=\"top:30px;left:0px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'1',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"1000070166604090067\" style=\"top:30px;left:45px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'7',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"1000070166604090069\" style=\"top:30px;left:90px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'9',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900615\" style=\"top:30px;left:135px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'15',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900617\" style=\"top:30px;left:180px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'17',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900632A\" style=\"top:30px;left:225px;display:block;\" class=\"vseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'32A',TBSelectedSeatsPrice.value,'450.00')\"></div>
                <div id=\"10000701666040900632B\" style=\"top:30px;left:255px;display:block;\" class=\"vseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'32B',TBSelectedSeatsPrice.value,'450.00')\"></div>
                <div id=\"1000070166604090063\" style=\"top:60px;left:0px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'3',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"1000070166604090065\" style=\"top:60px;left:45px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'5',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900611\" style=\"top:60px;left:90px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'11',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900613\" style=\"top:60px;left:135px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'13',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900619\" style=\"top:60px;left:180px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'19',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"1000070166604090064\" style=\"top:110px;left:0px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'4',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"1000070166604090066\" style=\"top:110px;left:45px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'6',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900612\" style=\"top:110px;left:90px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'12',TBSelectedSeatsPrice.value,'650.00')\"></div>
                <div id=\"10000701666040900614\" style=\"top:110px;left:135px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'14',TBSelectedSeatsPrice.value,'550.00')\"></div>
                <div id=\"10000701666040900620\" style=\"top:110px;left:180px;display:block;\" class=\"hseat\"
                     onclick=\"javascript:AddRemoveSeat(TBSelectedSeats.value,'20',TBSelectedSeatsPrice.value,'550.00')\"></div>
            </div>
        </div>
    </div>
    <div class='clr'></div>
</div>


<!--from index.html-->


<div class='outerseat'>
    <div class='busSeatlft'>
        <div class='upper'></div>
    </div>
    <div class='busSeatrgt'>
        <div class='busSeat'>
            <div class='seatcontainer clearfix'>
                <div id="1001585151803968212" style="top:0px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','2','','700.00')"></div>
                <div id="1001585151803968214" style="top:0px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','4','','700.00')"></div>
                <div id="1001585151803968216" style="top:0px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','6','','700.00')"></div>
                <div id="1001585151803968218" style="top:0px;left:135px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','8','','700.00')"></div>
                <div id="10015851518039682110" style="top:0px;left:180px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','10','','700.00')"></div>
                <div id="10015851518039682112" style="top:0px;left:225px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','12','','700.00')"></div>
                <div id="1001585151803968211" style="top:30px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','1','','700.00')"></div>
                <div id="1001585151803968213" style="top:30px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','3','','700.00')"></div>
                <div id="1001585151803968215" style="top:30px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','5','','700.00')"></div>
                <div id="1001585151803968217" style="top:30px;left:135px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','7','','700.00')"></div>
                <div id="1001585151803968219" style="top:30px;left:180px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','9','','700.00')"></div>
                <div id="10015851518039682111" style="top:30px;left:225px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','11','','700.00')"></div>
                <div id="10015851518039682121" style="top:60px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','21','','700.00')"></div>
                <div id="10015851518039682123" style="top:60px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','23','','700.00')"></div>
                <div id="10015851518039682125" style="top:60px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','25','','700.00')"></div>
                <div id="10015851518039682127" style="top:60px;left:135px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','27','','700.00')"></div>
                <div id="10015851518039682129" style="top:60px;left:180px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','29','','700.00')"></div>
                <div id="10015851518039682131" style="top:60px;left:225px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','31','','700.00')"></div>
            </div>
        </div>
    </div>
    <div class='clr'></div>
</div>
<div class='outerlowerseat'>
    <div class='busSeatlft'>
        <div class='lower'></div>
    </div>
    <div class='busSeatrgt'>
        <div class='busSeat'>
            <div class='seatcontainer clearfix'>
                <div id="10015851518039682114" style="top:0px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','14','','700.00')"></div>
                <div id="10015851518039682116" style="top:0px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','16','','700.00')"></div>
                <div id="10015851518039682118" style="top:0px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','18','','700.00')"></div>
                <div id="100158515180396821B" style="top:0px;left:135px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','B','','400.00')"></div>
                <div id="100158515180396821D" style="top:0px;left:160px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','D','','400.00')"></div>
                <div id="100158515180396821F" style="top:0px;left:185px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','F','','400.00')"></div>
                <div id="100158515180396821H" style="top:0px;left:210px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','H','','400.00')"></div>
                <div id="10015851518039682120" style="top:0px;left:235px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','20','','700.00')"></div>
                <div id="10015851518039682113" style="top:30px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','13','','700.00')"></div>
                <div id="10015851518039682115" style="top:30px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','15','','700.00')"></div>
                <div id="10015851518039682117" style="top:30px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','17','','700.00')"></div>
                <div id="100158515180396821A" style="top:30px;left:135px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','A','','400.00')"></div>
                <div id="100158515180396821C" style="top:30px;left:160px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','C','','400.00')"></div>
                <div id="100158515180396821E" style="top:30px;left:185px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','E','','400.00')"></div>
                <div id="100158515180396821G" style="top:30px;left:210px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','G','','400.00')"></div>
                <div id="10015851518039682119" style="top:30px;left:235px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','19','','700.00')"></div>
                <div id="10015851518039682122" style="top:60px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','22','','700.00')"></div>
                <div id="10015851518039682124" style="top:60px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','24','','700.00')"></div>
                <div id="10015851518039682126" style="top:60px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','26','','700.00')"></div>
                <div id="10015851518039682128" style="top:60px;left:135px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','28','','700.00')"></div>
                <div id="10015851518039682130" style="top:60px;left:180px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','30','','700.00')"></div>
                <div id="10015851518039682132" style="top:60px;left:225px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','32','','700.00')"></div>
            </div>
        </div>
    </div>
    <div class='clr'></div>
</div>