<div class='outerseat'>
    <div class='busSeatlft'>
        <div class='lower'></div>
    </div>
    <div class='busSeatrgt'>
        <div class='busSeat'>
            <div class='seatcontainer clearfix'>
                <div id="10020373184505502524" style="top:0px;left:0px;display:block;" class="bseat"></div>
                <div id="10020373184505502528" style="top:0px;left:25px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'8',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025212" style="top:0px;left:50px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'12',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025216" style="top:0px;left:75px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'16',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025220" style="top:0px;left:100px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'20',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025224" style="top:0px;left:125px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'24',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025228" style="top:0px;left:150px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'28',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025230" style="top:0px;left:175px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'30',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025236" style="top:0px;left:200px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'36',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="10020373184505502523" style="top:30px;left:0px;display:block;" class="bseat"></div>
                <div id="10020373184505502527" style="top:30px;left:25px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'7',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025211" style="top:30px;left:50px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'11',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025215" style="top:30px;left:75px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'15',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025219" style="top:30px;left:100px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'19',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025223" style="top:30px;left:125px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'23',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025227" style="top:30px;left:150px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'27',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025229" style="top:30px;left:175px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'29',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025235" style="top:30px;left:200px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'35',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025234" style="top:60px;left:200px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'34',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025233" style="top:90px;left:200px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'33',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="10020373184505502522" style="top:120px;left:25px;display:block;" class="bseat"></div>
                <div id="10020373184505502526" style="top:120px;left:50px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'6',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025210" style="top:120px;left:75px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'10',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025214" style="top:120px;left:100px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'14',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025218" style="top:120px;left:125px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'18',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025222" style="top:120px;left:150px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'22',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025226" style="top:120px;left:175px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'26',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025232" style="top:120px;left:200px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'32',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="10020373184505502521" style="top:150px;left:25px;display:block;" class="bseat"></div>
                <div id="10020373184505502525" style="top:150px;left:50px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'5',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="10020373184505502529" style="top:150px;left:75px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'9',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025213" style="top:150px;left:100px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'13',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025217" style="top:150px;left:125px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'17',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025221" style="top:150px;left:150px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'21',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025225" style="top:150px;left:175px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'25',TBSelectedSeatsPrice.value,'287.00')"></div>
                <div id="100203731845055025231" style="top:150px;left:200px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat(TBSelectedSeats.value,'31',TBSelectedSeatsPrice.value,'287.00')"></div>
            </div>
        </div>
    </div>
    <div class='clr'></div>
</div>


<div class='outerseat'>
    <div class='busSeatlft'>
        <div class='upper'></div>
    </div>
    <div class='busSeatrgt'>
        <div class='busSeat'>
            <div class='seatcontainer clearfix'>
                <div id="1001585151803968212" style="top:0px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','2','','700.00')"></div>
                <div id="1001585151803968214" style="top:0px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','4','','700.00')"></div>
                <div id="1001585151803968216" style="top:0px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','6','','700.00')"></div>
                <div id="1001585151803968218" style="top:0px;left:135px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','8','','700.00')"></div>
                <div id="10015851518039682110" style="top:0px;left:180px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','10','','700.00')"></div>
                <div id="10015851518039682112" style="top:0px;left:225px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','12','','700.00')"></div>
                <div id="1001585151803968211" style="top:30px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','1','','700.00')"></div>
                <div id="1001585151803968213" style="top:30px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','3','','700.00')"></div>
                <div id="1001585151803968215" style="top:30px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','5','','700.00')"></div>
                <div id="1001585151803968217" style="top:30px;left:135px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','7','','700.00')"></div>
                <div id="1001585151803968219" style="top:30px;left:180px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','9','','700.00')"></div>
                <div id="10015851518039682111" style="top:30px;left:225px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','11','','700.00')"></div>
                <div id="10015851518039682121" style="top:60px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','21','','700.00')"></div>
                <div id="10015851518039682123" style="top:60px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','23','','700.00')"></div>
                <div id="10015851518039682125" style="top:60px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','25','','700.00')"></div>
                <div id="10015851518039682127" style="top:60px;left:135px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','27','','700.00')"></div>
                <div id="10015851518039682129" style="top:60px;left:180px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','29','','700.00')"></div>
                <div id="10015851518039682131" style="top:60px;left:225px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','31','','700.00')"></div>
            </div>
        </div>
    </div>
    <div class='clr'></div>
</div>
<div class='outerlowerseat'>
    <div class='busSeatlft'>
        <div class='lower'></div>
    </div>
    <div class='busSeatrgt'>
        <div class='busSeat'>
            <div class='seatcontainer clearfix'>
                <div id="10015851518039682114" style="top:0px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','14','','700.00')"></div>
                <div id="10015851518039682116" style="top:0px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','16','','700.00')"></div>
                <div id="10015851518039682118" style="top:0px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','18','','700.00')"></div>
                <div id="100158515180396821B" style="top:0px;left:135px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','B','','400.00')"></div>
                <div id="100158515180396821D" style="top:0px;left:160px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','D','','400.00')"></div>
                <div id="100158515180396821F" style="top:0px;left:185px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','F','','400.00')"></div>
                <div id="100158515180396821H" style="top:0px;left:210px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','H','','400.00')"></div>
                <div id="10015851518039682120" style="top:0px;left:235px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','20','','700.00')"></div>
                <div id="10015851518039682113" style="top:30px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','13','','700.00')"></div>
                <div id="10015851518039682115" style="top:30px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','15','','700.00')"></div>
                <div id="10015851518039682117" style="top:30px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','17','','700.00')"></div>
                <div id="100158515180396821A" style="top:30px;left:135px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','A','','400.00')"></div>
                <div id="100158515180396821C" style="top:30px;left:160px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','C','','400.00')"></div>
                <div id="100158515180396821E" style="top:30px;left:185px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','E','','400.00')"></div>
                <div id="100158515180396821G" style="top:30px;left:210px;display:block;" class="nseat"
                     onclick="javascript:AddRemoveSeat('','G','','400.00')"></div>
                <div id="10015851518039682119" style="top:30px;left:235px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','19','','700.00')"></div>
                <div id="10015851518039682122" style="top:60px;left:0px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','22','','700.00')"></div>
                <div id="10015851518039682124" style="top:60px;left:45px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','24','','700.00')"></div>
                <div id="10015851518039682126" style="top:60px;left:90px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','26','','700.00')"></div>
                <div id="10015851518039682128" style="top:60px;left:135px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','28','','700.00')"></div>
                <div id="10015851518039682130" style="top:60px;left:180px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','30','','700.00')"></div>
                <div id="10015851518039682132" style="top:60px;left:225px;display:block;" class="hseat"
                     onclick="javascript:AddRemoveSeat('','32','','700.00')"></div>
            </div>
        </div>
    </div>
    <div class='clr'></div>
</div>