<div class="gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 ng-hide="isAuthenticated()">Customer</h3>
            <p ng-hide="isAuthenticated()">Sign in to your <a href="">Travally account</a> for fast booking.</p>
            <form ng-hide="isAuthenticated()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>First & Last Name</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="i-check" type="checkbox" checked/>Create Travally account
                    </label>
                </div>
            </form>


            <div class="gap gap-small"></div>
            <h3>Passengers</h3>
            <ul class="list booking-item-passengers">


               <!-- <li ng-repeat="pp in bookVal.Passenger">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Sex</label>
                            <div class="radio-inline radio-small">
                                <label>
                                    <input class="i-radio" type="radio" name="passenger-1-sex" ng-model="pp.gender=1" />Male</label>
                            </div>
                            <div class="radio-inline radio-small">
                                <label>
                                    <input class="i-radio" type="radio" name="passenger-1-sex" ng-model="pp.gender=0" />Female</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" ng-model="pp.FirstName" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Surname</label>
                                <input class="form-control" type="text" ng-model="pp.LastName"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <input class="date-pick-years form-control" type="text" ng-model="pp.DateOfBirth" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <div class="form-group">
                                <label>Address Line1</label>
                                <input class="form-control" type="text" ng-model="pp.AddressLine1"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Address Line2</label>
                                <input class="form-control" type="text" ng-model="pp.AddressLine2"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Pin Code</label>
                                <input class="date-pick-years form-control" type="text" ng-model="pp.PinCode" />
                            </div>
                        </div>
                    </div>
                </li>
-->



                <li>
                    <div class="row" ng-repeat="passenger in bookVal.Passenger">
                        <!--<div class="col-md-3">
                            <label>Sex</label>
                            <div class="radio-inline radio-small">
                                <label>
                                    <input class="i-radio" type="radio" ng-model="first.Gender" name="passenger-2-sex" />Male</label>
                            </div>
                            <div class="radio-inline radio-small">
                                <label>
                                    <input class="i-radio" type="radio" name="passenger-2-sex" />Female</label>
                            </div>
                        </div>-->
                        <div class="col-md-3">
                            <label>Title</label>
                            <div class="form-group">
                                <input class="form-control" ng-model="passenger.Title" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" ng-model="passenger.FirstName" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Surname</label>
                                <input class="form-control" ng-model="passenger.LastName" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <input class="form-control" ui-date ui-date-format=" yy-mm-dd" ng-model="passenger.DateOfBirth">
                                <!--<input class="date-pick-years form-control" ng-model="passenger.DateOfBirth" type="text" />-->
                            </div>
                        </div>
                    </div>





                    <!--<div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <div class="form-group">
                                <label>Citizenship</label>
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Document Series</label>
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Expiry Date</label>
                                <input class="date-pick-years form-control" type="text" />
                            </div>
                        </div>
                    </div>-->
                </li>
            </ul>






            <div class="gap gap-small"></div>
            <div class="row">
                <!--<div class="col-md-6">
                    <img class="pp-img" src="img/paypal.png" alt="Image Alternative text" title="Image Title" />
                    <p>Important: You will be redirected to PayPal's website to securely complete your payment.</p><a class="btn btn-primary">Checkout via Paypal</a>
                </div>-->
                <div class="col-md-6">
                    <form class="cc-form">
                        <!--<div class="clearfix">
                            <div class="form-group form-group-cc-number">
                                <label>Card Number</label>
                                <input class="form-control" placeholder="xxxx xxxx xxxx xxxx" type="text" /><span class="cc-card-icon"></span>
                            </div>
                            <div class="form-group form-group-cc-cvc">
                                <label>CVC</label>
                                <input class="form-control" placeholder="xxxx" type="text" />
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="form-group form-group-cc-name">
                                <label>Cardholder Name</label>
                                <input class="form-control" type="text" />
                            </div>
                            <div class="form-group form-group-cc-date">
                                <label>Valid Thru</label>
                                <input class="form-control" placeholder="mm/yy" type="text" />
                            </div>
                        </div>
                        <div class="checkbox checkbox-small">
                            <label>
                                <input class="i-check" type="checkbox" checked/>Add to My Cards</label>
                        </div>-->
                       </form>
                        <input class="btn btn-primary" type="button" ng-click="BookFlight()" value="Proceed Payment" /><br/><br/>


                    <div ng-show="loading">

                        <div id="floatingCirclesG">
                            <div class="f_circleG" id="frotateG_01"></div>
                            <div class="f_circleG" id="frotateG_02"></div>
                            <div class="f_circleG" id="frotateG_03"></div>
                            <div class="f_circleG" id="frotateG_04"></div>
                            <div class="f_circleG" id="frotateG_05"></div>
                            <div class="f_circleG" id="frotateG_06"></div>
                            <div class="f_circleG" id="frotateG_07"></div>
                            <div class="f_circleG" id="frotateG_08"></div>
                        </div>

                    </div>

                    <div ng-hide="loading">

                        Search Response:<br/>
                        {{flightSearch}}<br/><br/><br/>
                        GetFareQuote Request:<br/>
                        {{getFareQuoteRequest}}<br/><br/>
                        GetFareQuote Response<br/>
                        {{getFareQuoteResponse}}<br/><br/>
                        Ticket Request<br/>
                        {{ticketRequest}}<br/><br/>
                        Ticket Response<br/>
                        {{ticketResponse}}<br/><br/>


                    </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="booking-item-payment">
                <header class="clearfix">
                    <h5 class="mb0">{{flightData.sourceCityName}} - {{flightData.destinattionCityName}}</h5>
                </header>
                <ul class="booking-item-payment-details">
                    <li>
                        <h5>Flight Details</h5>
                        <div class="booking-item-payment-flight">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure"><i class="fa fa-plane"></i>
                                            <h5>{{ flightData.departureTime | date : 'h:mm a'}}</h5>
                                            <p class="booking-item-date">{{ flightData.departureTime | date : medium}}</p>
                                            <p class="booking-item-destination">{{flightData.sourceCityName}}({{flightData.origin}})</p>
                                        </div>
                                        <div class="booking-item-arrival"><i class="fa fa-plane fa-flip-vertical"></i>
                                            <h5>{{ flightData.arrivalTime | date : 'h:mm a'}}</h5>
                                            <p class="booking-item-date">{{ flightData.arrivalTime | date : medium}}</p>
                                            <p class="booking-item-destination">{{flightData.destinattionCityName}} ({{flightData.destination}})</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="booking-item-flight-duration">
                                        <p>Duration</p>
                                        <h5>{{flightData.duration}}h</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <p class="booking-item-payment-total">Total: <span>&#8377;{{flightData.offeredFare}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>

