

<div>
</div>




<div class="row">
    <div class="container"><br/><br/>
        <div class="col-lg-6">

            <div class="text-center">
                <h1 style="font-size: 30px;">Reset Your Password</h1>
            </div>
            <div ng-show="forgot_password_text">
                <p style="color: red;">Password reset link send to your email.</p>
            </div>

            <div class="form-group">
                <div class="col-lg-4">
                    Email:
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="d.email">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-4">

                </div>
                <div class="col-md-8">
                    <button class="btn-primary" ng-click="forgotPassword(d)">Send Reset Mail</button>
                </div>
            </div>
        </div>
    </div>
</div>