<div ng-show="loading" class="row">
    <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
    </div>
</div>

<a class="btn btn-primary" ng-click="book()" ng-href="">Book</a>

{{book_response}}



<br/>
<br/>
<a class="btn btn-primary" ng-click="storeTicketDetails()" ng-href="">Store Booking Details</a>
