<div class="container">
    <h1 class="text-center" style="font-size: 40px; margin: 30px 0;">Sign Up With Traveler</h1>
</div>

<div ng-show="sign_up_successful" class="text-center">
    You are signed up successfully <a ng-href="#/login">login</a> to continue.

</div>

<div class="container">
    <div class="row" data-gutter="60">
        <div class="col-md-4">
            <h3>Welcome to Traveler</h3>
            <p>Ultricies vestibulum egestas ad cras mollis nam dictumst netus leo facilisis justo maecenas molestie ipsum felis mus cubilia hendrerit vestibulum accumsan consectetur convallis vitae nec sapien diam justo lobortis aenean</p>
            <p>Lobortis tristique interdum curae luctus mattis nisl aenean diam suscipit</p>
        </div>
        <div class="col-md-4 custom-class">
            <h3 class="text-center custom_title">Sign Up</h3>
            <form>
                <div class="form-group form-group-icon-left">
                    <!-- <label>Username or email</label> -->

                    <input ng-model="registration.name" class="form-control custom-input" placeholder="Enter Your Name" type="text" />
                </div>
                <div class="form-group form-group-icon-left">
                    <!-- <label>Username or email</label> -->

                    <input ng-model="registration.email" class="form-control custom-input" placeholder="Your Email" type="email" />
                </div>
                <div class="form-group form-group-icon-left">
                    <!-- <label>Password</label> -->
                    <input ng-model="registration.password" class="form-control custom-input" type="password" placeholder="Password" />
                </div>
                <div class="form-group form-group-icon-left">
                    <!-- <label>Password</label> -->
                    <input ng-model="registration.password_confirmation" class="form-control custom-input" type="password" placeholder="Retype Password" />
                </div>
                <button ng-disabled="disabled" ng-click="userRegistration()" class="btn btn-primary custom-button"> {{reg_text}} </button>
            <!--<div style="color:red" ng-repeat="message in error_messages">{{message}}</div>-->
                <h4 class="text-center custom-or">Or</h4>
                <div class="text-center social-custom-btn">
                    <button ng-click="authenticate('facebook')" class="custom-button-f">Facebook</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button ng-click="authenticate('facebook')" class="custom-button-g">Google</button>
                </div>

            </form>
        </div>
    </div>
</div>



<div class="gap"></div>



<!--
<div class="input-group m-b-sm zolo-m-n-15">
                                                    <span class="input-group-addon" id="basic-addon1">&lt;!&ndash; Login As User icon by Icons8 &ndash;&gt;
&lt;!&ndash; MS Outlook icon by Icons8 &ndash;&gt;
&lt;!&ndash; Message icon by Icons8 &ndash;&gt;
<img class="icon icons8-Message"
     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABp0lEQVRIS72V4XHCMAyFJXuA0gnaTlCdvQDdgBHCBjBB0w3oBNAN6ASwQFyzAUzQLmCrJ87hTEqOg5LkXy6JPr2nJwehhwt7YEA/EGNMCQDcpSK01jIzv3UFQcTXPSSEcO+9/7k1iIgGWuvvPQQAfAjh5ZagBFgBAOV2jWKMhffe/1cREZHWes7Mnwe7qqpCY0yBiLMQwvA/IAEopUTB1Dm3EKf2SgQi3RPRUCm1AIBSXrhUUdboyHu/lu//QBJIpK6ZeXIJyBgzQcSy6cRJSAINlFLSyZdzbnxOkbV2wcwUYxSrj1LaCmmCYozTU8lLCZIBP50CtNpVdy3+ymwAYIuId82IZxHdiYq2ObYqMcbMAGBYRzodPUW6X6eAzAHgwzlXpkRJUFbOuWlu76l0yYZK/HYhBNmZg7/W2hEzl4j4zMwbGXJVVcu6YFImoIdc9REky/e7dHdu2G3PRTUiTuqUHSDMPJZFBIAi7+5akNiptV7KGiDivD5WNjFGWaDttYWb3xHRo1JqKfb2dwrLQG+loFlHAiIHY2eAGtjPP74rm/K6vSj5BaM+MGxWG0KbAAAAAElFTkSuQmCC"
     width="18" height="18"></span>
    <input ng-model="registration.name" type="text" class="form-control" placeholder="Enter Your Name"
           aria-describedby="basic-addon1">
</div>

<div class="input-group m-b-sm zolo-m-n-15">
                                                    <span class="input-group-addon" id="basic-addon1">&lt;!&ndash; Login As User icon by Icons8 &ndash;&gt;
&lt;!&ndash; MS Outlook icon by Icons8 &ndash;&gt;
&lt;!&ndash; Message icon by Icons8 &ndash;&gt;
<img class="icon icons8-Message"
     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABp0lEQVRIS72V4XHCMAyFJXuA0gnaTlCdvQDdgBHCBjBB0w3oBNAN6ASwQFyzAUzQLmCrJ87hTEqOg5LkXy6JPr2nJwehhwt7YEA/EGNMCQDcpSK01jIzv3UFQcTXPSSEcO+9/7k1iIgGWuvvPQQAfAjh5ZagBFgBAOV2jWKMhffe/1cREZHWes7Mnwe7qqpCY0yBiLMQwvA/IAEopUTB1Dm3EKf2SgQi3RPRUCm1AIBSXrhUUdboyHu/lu//QBJIpK6ZeXIJyBgzQcSy6cRJSAINlFLSyZdzbnxOkbV2wcwUYxSrj1LaCmmCYozTU8lLCZIBP50CtNpVdy3+ymwAYIuId82IZxHdiYq2ObYqMcbMAGBYRzodPUW6X6eAzAHgwzlXpkRJUFbOuWlu76l0yYZK/HYhBNmZg7/W2hEzl4j4zMwbGXJVVcu6YFImoIdc9REky/e7dHdu2G3PRTUiTuqUHSDMPJZFBIAi7+5akNiptV7KGiDivD5WNjFGWaDttYWb3xHRo1JqKfb2dwrLQG+loFlHAiIHY2eAGtjPP74rm/K6vSj5BaM+MGxWG0KbAAAAAElFTkSuQmCC"
     width="18" height="18"></span>
    <input ng-model="registration.mobile" type="text" class="form-control" placeholder="Enter Your Contact Number"
           aria-describedby="basic-addon1">
</div>

<div class="input-group m-b-sm zolo-m-n-15">
                                                    <span class="input-group-addon" id="basic-addon1">&lt;!&ndash; Login As User icon by Icons8 &ndash;&gt;
&lt;!&ndash; MS Outlook icon by Icons8 &ndash;&gt;
&lt;!&ndash; Message icon by Icons8 &ndash;&gt;
<img class="icon icons8-Message"
     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABp0lEQVRIS72V4XHCMAyFJXuA0gnaTlCdvQDdgBHCBjBB0w3oBNAN6ASwQFyzAUzQLmCrJ87hTEqOg5LkXy6JPr2nJwehhwt7YEA/EGNMCQDcpSK01jIzv3UFQcTXPSSEcO+9/7k1iIgGWuvvPQQAfAjh5ZagBFgBAOV2jWKMhffe/1cREZHWes7Mnwe7qqpCY0yBiLMQwvA/IAEopUTB1Dm3EKf2SgQi3RPRUCm1AIBSXrhUUdboyHu/lu//QBJIpK6ZeXIJyBgzQcSy6cRJSAINlFLSyZdzbnxOkbV2wcwUYxSrj1LaCmmCYozTU8lLCZIBP50CtNpVdy3+ymwAYIuId82IZxHdiYq2ObYqMcbMAGBYRzodPUW6X6eAzAHgwzlXpkRJUFbOuWlu76l0yYZK/HYhBNmZg7/W2hEzl4j4zMwbGXJVVcu6YFImoIdc9REky/e7dHdu2G3PRTUiTuqUHSDMPJZFBIAi7+5akNiptV7KGiDivD5WNjFGWaDttYWb3xHRo1JqKfb2dwrLQG+loFlHAiIHY2eAGtjPP74rm/K6vSj5BaM+MGxWG0KbAAAAAElFTkSuQmCC"
     width="18" height="18"></span>
    <input ng-model="registration.email" type="text" class="form-control" placeholder="Enter Your Email"
           aria-describedby="basic-addon1">
</div>


<div class="input-group m-b-sm zolo-m-n-15">
                                                    <span class="input-group-addon" id="basic-addon1">&lt;!&ndash; Login As User icon by Icons8 &ndash;&gt;

<img class="icon icons8-Key"
     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAACOklEQVRIS7WW/3UTMQzHJXkAwgTtBnXsAQgTNN0gnYAwAd2gYQLCBKQbZAH7mQkaNjgGsMRTny/PXC/3g0fvXzv6SPrKXwXhHz5r7TURfULEFQDYEiKJyJGZv6aUTnVYnMtwzu0QcSMiO2Y+pJSSxrDWWiJaI+JWRL7FGD+3sWdBnHMJEVPOeZtSarz3axG50WDMrLwna+3CGLMDgJsQwlLPJkNKBYsQwqZk/QMAfgPAEQAaAFgDwDtmvlOa934vIk2McTsJohoYY7SCa83MGHMSkb0GqNttrV0ZYw45Z9XqpPdyznYSRKvQbGOMD1X/D8y8bjVpYaWFDzFG65zT+4upkMTMmzpgaVkvSLVjZq2yIaL9JIj3XkIIr+5eApXKU4xxr7+dDMk5v9eJ6o58H6iIfpwFcc6dSrt0kl59XVB7f1a7usIPgQBAR/vjLOHbLBFxoSPc17IWqneNMcd2hInomZmXg5rUbSCiDSJehRDuhqxIX3xxg/HH2CdosZXnnPP9pYoUQkSPALDUll20lRqgl4hoFWPUBwmVQT4y81PHIG8BQN/H99oNBme/AP56cG0CAHAAgBUivhikiPxUH2Pm3aDV91RwBqgvEdEHALjvs5Mhnc6VDAFKm9SHVmoXXb8a20kvkLeq4Ly03rKCM8R735THo1PUK/JcDbrtQ3XJnPOyBugeQMQvuvk0gbka9EJE5FedbVk20C6pMWHHzrWSRkS2astjW28s2KVzbE1N/wSUS/+lRTXwD8wv7tGYm4yTAAAAAElFTkSuQmCC"
     width="18" height="18"></span>
    <input ng-model="registration.password" type="text" class="form-control" placeholder="Enter Your Password"
           aria-describedby="basic-addon1">
</div>


<p class="zolo-p-12"> By Signing up, I agree to Zolo's <span class="zolo-purple"> <strong><a
        class="zolo-a" href="#">Terms of Services</a></strong></span></p>

<div style="color:red" ng-repeat="message in error_messages">{{message}}</div>

<button ng-disabled="disabled" ng-click="userRegistration(user)" type="button" class="btn  zolo-signup-button"><h4 class="zolo-signup-text">{{reg_text}}</h4></button>


<p class="zolo-p-12 zolo-p-t-15"> or connect with</p>

<div class="row">
    <div class="col-md-6 zolo-center">
        <img style="
    cursor: pointer;
" ng-click="authenticate('facebook')" src="assets/images/f-connect.png">
    </div>
    <div class="col-md-6 zolo-center">
        <img style="
    cursor: pointer;
" ng-click="authenticate('google')" src="assets/images/g-connect.png">
    </div>
</div>
<br>
</div>-->
