
<div class="row">
    <div class="container"><br/><br/>
        <div class="col-lg-6">

            <div>
                <h1>Reset Your Password</h1>
            </div>
            <div ng-show="forgot_password_text">
                <p>{{message.data.data.message}}<a ng-show="message.data.data.message!='successfully reset password'" ng-href="/#/forgotPassword">click here</a> </p>
            </div>

            <div class="form-group">
                <div class="col-lg-4">
                    Password:
                </div>
                <div class="col-md-8">
                    <input type="password" class="form-control" ng-model="newData.password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-4">
                    Confirm Password:
                </div>
                <div class="col-md-8">
                    <input type="password" class="form-control" ng-model="newData.password_confirmation">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-4">

                </div>
                <div class="col-md-8">
                    <button ng-disabled="disabled" class="btn-primary" ng-click="resetForgotPassword()">{{reset_text}}</button>
                </div>
            </div>
        </div>
        </div>
    </div>